/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/*Photo Filters*/

.grayscale {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.hue-rotate {
  -webkit-filter: hue-rotate(30deg);
  filter: hue-rotate(30deg);
}

.saturate {
  -webkit-filter: saturate(360%);
  filter: saturate(360%);
}

.invert {
  -webkit-filter: invert(80%);
  filter: invert(80%);
} 

.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.brightness {
  -webkit-filter: brightness(30%);
  filter: brightness(30%);
}

/*Body*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  font-family: var(--main-font, sans-serif);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-variation-settings: "wght" var(--text-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block-end: 25px;
  padding-block-start: clamp(120px,114.3662px + 1.5023vw,136px);
  background-color: var(--background-color);
  font-family: var(--accent-font, sans-serif, fantasy);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 2px solid var(--border-color, #00cc14);
  inline-size: clamp(375px, 90%, 700px);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
  text-decoration: none;
  outline: none;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu {
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.theme-menu__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;

  position: relative;
  margin-inline-start: 17px;
  transition: 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  inset-inline-start: -20px;
  inset-block-start: 0;
  animation: moving 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 1px;
  background-color: var(--accent-color);
  opacity: 0.6;
  transition: 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  inline-size: clamp(375px, 90%, 700px);
}

.content {
  border: 2px solid var(--border-color, #00cc14);
  background-color: var(--background-color);
}

.content__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
  padding-inline: 10px;
  padding-block-start: 5px;
  padding-block-end: 5px;
  display: block;
}

.content__text {
  font-size: 18px;
  font-variation-settings: "wght" var(--text-font-weight);
  line-height: 21px;
  margin-inline: 25px;
}

.text-indent {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-block-end: 25px;
}

.content__block-image {
  position: relative;
  border-block-start: 2px solid var(--border-color, #00cc14);
  border-block-end: 2px solid var(--border-color, #00cc14);
  margin-block-end: 25px;
}

.content__image {
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
}

.lable {
  position: absolute;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
  inset-inline-end: 25px;
  inset-block-start: 27px;
  text-shadow: 1px 1px var(--lable-shadow), -1px -1px var(--lable-shadow),
    -1px 1px var(--lable-shadow), 1px -1px var(--lable-shadow);
  text-transform: uppercase;
}

@supports (
  (text-stroke: 1px var(--lable-shadow)) or
    (-webkit-text-stroke: 1px var(--lable-shadow))
) {
  .lable {
    -webkit-text-stroke: 1px var(--lable-shadow);
    text-stroke: 1px var(--lable-shadow);
    text-shadow: none;
  }
}

/*Button & like*/

.button__text {
  position: relative;
  color: var(--accent-color, #00cc14);
  z-index: 1;
}

.button {
  display: grid;
  place-items: center;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 90%;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--accent-color);
  z-index: 1;
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  min-block-size: 38px;
  position: relative;
}

.card__items {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 23px;
  align-items: center;
}

.sparks {
  opacity: 0;
  fill: var(--color-sparks);
}

.card__icon-button {
  display: grid;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
  transform-origin: center;
}

.button__footer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  inline-size: 340px;
  min-block-size: 55px;
  justify-content: center;
  align-items: center;
  padding-block-start: 3px;
  margin-block-end: 103px;
}

.floppy {
  width: 21px;
  height: 21px;
  margin-right: 8px;
}

/*DIALOG*/

.dialog {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  color: var(--accent-color);
  text-transform: uppercase;
  padding: 30px;
  inline-size: clamp(341px, 335.3662px + 1.5023vw, 357px);
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.dialog[open] {
  display: grid;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__close {
  text-transform: uppercase;
  inline-size: 100%;
  justify-content: center;
  padding-block-start: 12.5px;
  padding-block-end: 12.5px;
}

/*Media*/

@media (width <= 376px) {
  .lable {
    inset-inline-end: 11px;
    inset-block-start: 25px;
  }

  .content__title {
    padding-block-start: 5px;
    padding-block-end: 5px;
  }

  .button__footer {
    flex-direction: column;
    inline-size: 310px;
    min-width: 84px;
    min-height: 80px;
  }

  .footer__icon {
    inline-size: 29px;
    min-block-size: 29px;
  }
}
